[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pywebio = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
cachetools = "*"
environs = "*"
pyecharts = "*"
pytz = "*"

[dev-packages]
autopep8 = "*"
flake8 = "*"
pylint = "*"

[requires]
python_version = "3.9"
